


body {
    font-family: 'Arial', sans-serif;
    background-color: #1c1c1c;
    color: #fff;
    margin: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

nav {
    margin-bottom: 20px;
}

nav a {
    color: #fff;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #007bff;
}

main {
    padding: 20px;
}

h2.Home {
    color: #e74c3c;
    margin-bottom: 20px;
}

/* Xbox Section Styles */
#XboxSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#XboxSection figure {
    width: 100%;
    margin-bottom: 20px;
}

#XboxSection h2 {
    color: #e74c3c;
}

#XboxSection p {
    color: #ecf0f1;
}

#XboxSection h3 {
    color: #e74c3c;
}

#XboxSection ul {
    list-style-type: none;
    padding: 0;
}

#XboxSection li {
    margin-bottom: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}






