/* Mainpage.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #1c1c1c; /* Dark background color */
    color: #fff;
    margin: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

nav {
    margin-bottom: 20px;
}

nav a {
    color: #fff; /* White text color */
    transition: color 0.3s ease; /* Smooth color transition */
}

nav a:hover {
    color: #007bff; /* Blue hover color */
}

main {
    padding: 20px;
}

h2.Home {
    color: #e74c3c; /* Red heading color */
    margin-bottom: 20px;
}

/* Youtube Section Styles */
#Youtube {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#Youtube article {
    flex: 1;
    margin-bottom: 20px;
    border: 1px solid #555; /* Dark border color */
    padding: 10px;
    box-sizing: border-box;
    background-color: #2c3e50; /* Dark background color */
}

#Youtube iframe {
    width: 100%;
    border: 1px solid #555; /* Dark border color */
}

#Youtube h3 {
    color: #e74c3c; /* Red heading color */
}

#Youtube p {
    color: #ecf0f1; /* Light text color */
}

/* Short Videos Section Styles */
#ShortVideos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#ShortVideos article {
    flex: 1;
    margin-bottom: 20px;
    border: 1px solid #555; /* Dark border color */
    padding: 10px;
    box-sizing: border-box;
    background-color: #2c3e50; /* Dark background color */
}

#ShortVideos video {
    width: 100%;
    border: 1px solid #555; /* Dark border color */
}

#ShortVideos h4 {
    color: #e74c3c; /* Red heading color */
}

#ShortVideos p {
    color: #ecf0f1; /* Light text color */
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}










